<html lang="fr">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        .clearfix:before,
        .clearfix:after {
            display: table;

            content: ' ';
        }
        .clearfix:after {
            clear: both;
        }
        body {
            background: #f0f0f0 !important;
        }
        .page-500 .outer {
            position: absolute;
            top: 0;

            display: table;

            width: 100%;
            height: 100%;
        }
        .page-500 .outer .middle {
            display: table-cell;

            vertical-align: middle;
        }
        .page-500 .outer .middle .inner {
            width: 300px;
            margin-right: auto;
            margin-left: auto;
        }
        .page-500 .outer .middle .inner .inner-circle {
            height: 300px;

            border-radius: 50%;
            background-color: #ffffff;
        }
        .page-500 .outer .middle .inner .inner-circle:hover i {
            color: #39bbdb!important;
            background-color: #f5f5f5;
            box-shadow: 0 0 0 15px #39bbdb;
        }
        .page-500 .outer .middle .inner .inner-circle:hover span {
            color: #39bbdb;
        }
        .page-500 .outer .middle .inner .inner-circle i {
            font-size: 5em;
            line-height: 1em;

            float: right;

            width: 1.6em;
            height: 1.6em;
            margin-top: -.7em;
            margin-right: -.5em;
            padding: 20px;

            -webkit-transition: all .4s;
            transition: all .4s;
            text-align: center;

            color: #f5f5f5!important;
            border-radius: 50%;
            background-color: #39bbdb;
            box-shadow: 0 0 0 15px #f0f0f0;
        }
        .page-500 .outer .middle .inner .inner-circle span {
            font-size: 11em;
            font-weight: 700;
            line-height: 1.2em;
            display: block;
            -webkit-transition: all .4s;
            transition: all .4s;
            text-align: center;
            color: #e0e0e0;
        }
        .page-500 .outer .middle .inner .inner-status {
            font-size: 20px;
            display: block;
            margin-top: 20px;
            margin-bottom: 5px;
            text-align: center;
            color: #39bbdb;
        }
        .page-500 .outer .middle .inner .inner-detail {
            line-height: 1.4em;
            display: block;
            margin-bottom: 10px;
            text-align: center;
            color: #999999;
        }
    </style>
</head>
<body>
<div class="page-500">
    <div class="outer">
        <div class="middle">
            <div class="inner text-center">
                <div class="inner-circle"><i class="fa fa-cogs"></i><span>500</span></div>
                <span class="inner-status">Erreur interne du serveur</span>
                <span class="text-danger">{{titreErreur}}</span>
                <hr>
                <a href="/" class="btn btn-info btn-lg">Revenir sur la page principale</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>